@font-face {
    font-family:'ClimaconsRegular';
    src: url('../images/climacons-webfont.eot');
    src: url('../images/climacons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../images/climacons-webfont.woff') format('woff'),
         url('../images/climacons-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: Tahoma, Geneva, sans-serif;
}
body {
	background-image: url(../images/background.jpg);
	background-size:cover;
	background-position:top center;
	background-attachment: fixed;

	h1, h2, h3, h4, h5, h6 {
		font-family:Impact, Charcoal, sans-serif;
		text-shadow: 0 1px 0 #fff;
	}

	h1 {
		font-size:4em;
		text-align:center;
	}

	hr {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #bbb;
	}

	.container {
		background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 0 20px rgba(0, 0, 0, .85);
	}
	.links {
		text-align:center;
		img, svg {
			max-width:100%;
			display:block;
			margin:auto;
			text-align:center;
			height:80px;
			margin-bottom:.5em;
		}
	}
	.weather {
		text-align:center;
	}
	.classdojo {
		img {
			max-width:25%;
			display:block;
			float:left;
			border:1px solid #ccc;
			-webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.5);
			box-shadow: 1px 1px 1px 0 rgba(0,0,0,.5);
			margin:0 .5em .5em 0;
		}
	}
	.twitter {
		.row {
			padding:0 0 1.5em;
			clear:both;
			img {
				float:left;
				margin:0 .5em .5em;
				-webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.5);
				box-shadow: 1px 1px 1px 0 rgba(0,0,0,.5);
			}
		}

		h3 {
			margin: auto;
		}
	}
}
